#double-balls
  .wrapper
    header.game-header.clearfix
      .header-box
        .title-box.clearfix
          span.cz_logo.cz_ssq
          h1
            a(href="#/double-balls")双色球
          span.gameintro
            每注2元，最高奖1000万
          span
            投注截止时间: 2016-04-17 19:40　全网最晚截止
        .menu-box.clearfix
          ul.game-menu
            li.active
              a(href="")快速投注
            li
              a(href="")高级投注
            li
              a(href="")幸运投注
            li
              a(href="")参与合买
    section.main.clearfix
      section.betting-box
        #main-panels
          .select-num
            .title
              h2.red-title
                strong 红球区
                span 至少选择6个红球
              h2.blue-title
                strong 蓝球区
                span 至少选择1个蓝球
          .ball-area
            .red-ball-box.clearfix
              ul
                li(ng-repeat="ball in dbPage.redBalls" ng-class="{'selected': ball.selected}" ng-click="dbPage.selectBall(ball, 0)")
                  a(href=""){{ball.index}}
              p.random-selection
                select
                  option(value="6") 6
                  option(value="7") 7
                a.random-redbtn 机选红球
                a.clearing 清空
            .blue-ball-box.clearfix
              ul
                li(ng-repeat="ball in dbPage.blueBalls" ng-class="{'selected': ball.selected}" ng-click="dbPage.selectBall(ball, 1)")
                  a(href=""){{ball.index}}
              p.random-selection
                select
                  option(value="6") 6
                  option(value="7") 7
                a.random-bluebtn 机选蓝球
                a.clearing 清空
            p.select-info
              span
                您当前选中了
                strong.c_ba2636 {{dbPage.colorBallStat[0]}}
                个红球，
                strong.c_4260a4 {{dbPage.colorBallStat[1]}}
                个蓝球，共
                strong.c_ba2636 {{dbPage.betCount}}
                注，共
                strong.c_ba2636 {{dbPage.money}}
                元 
                i
        .betbtn-box(title="确认选号")
          a.betbtn(title="确认选号")
        .new-bet
          .selected-box.clearfix
            #select-list-box.selected-list
              dl
                dd
                  span.type 单式
                  span.nums
                    strong.c_ba2636 03 08 10 11 23 31
                    strong(style="color: #c4c4c4;") |
                    strong.c_4260a4 01 
                  span.edit
                    a 修改
                    a 删除
                  span.sum 2元
            .selected-btnbox
              a.selected-btn 机选一注
              .random-btn
                label
                  input(type="text" placeholder="5注")
                a.selected-btn 机选
              .selected-btn.clear-btn 清空列表
          .bet-result
            span.holder-wrap-left
              | 共
              strong.bet-num-count 1
              | 注，
            span.time-num-wrap
              | 我要买
              span.add-substract
                a.substract
                input(type="text" value="1")
                a.add
              | 倍，
            span.period-num-wrap
              | 连续购买
              span.add-substract
                a.substract
                input(type="text" value="1")
                a.add
              | 期，
            span.holder-wrap-right
              | 共
              strong.bet-money-count 2
              | 元
          .betbtn-box
            p.bet-btns
              span(id="normal-btn-box")
                a.betting-btn
      .aside-box
        .total-pool-box
          h3 双色球奖池
          p.total-pool
            strong 5
            | 亿
            strong 8983
            | 万
          p
            | 可开出
            span.c_ba2636 117注
            | 500万大奖
          p
            | 每周二、四、日晚上21:15开奖
        .draw-notice
          h3 开奖公告
          p 双色球第 2016042 期 04-14(周四)
          p.current-award
            em.small-red-ball(ng-repeat="red in dbPage.redAwardBalls") {{red}}
            em.small-blue-ball {{dbPage.blueBall}}


