#double-balls
  .wrapper
    header.game-header.clearfix
      .header-box
        .title-box.clearfix
          span.cz_logo.cz_ssq
          h1
            a(href="#/double-balls")双色球
          span.gameintro
            每注2元，最高奖1000万
          span
            投注截止时间: 2016-04-17 19:40　全网最晚截止
        .menu-box.clearfix
          ul.game-menu
            li.active
              a(href="")快速投注
            li
              a(href="")高级投注
            li
              a(href="")幸运投注
            li
              a(href="")参与合买
    section.main.clearfix
      section.betting-box
        #main-panels
          .select-num
            .title
              h2.red-title
                strong 红球区
                span 至少选择6个红球
              h2.blue-title
                strong 蓝球区
                span 至少选择1个蓝球
