#double-balls * {
  margin: 0px;
  padding: 0px;
}
#double-balls a {
  list-style: none;
  text-decoration: none;
}
#double-balls > .wrapper {
  margin: 20px 50px;
}
#double-balls > .wrapper > header.game-header {
  border: 1px solid #dedede;
  background: #fff;
  border-bottom: 3px solid #ba2626;
  position: relative;
}
#double-balls > .wrapper > header.game-header .header-box {
  background: url('../asset/background.png') repeat-x 0 -190px;
}
#double-balls > .wrapper > header.game-header .header-box .title-box {
  height: 36px;
  line-height: 31px;
  padding-left: 90px;
}
#double-balls > .wrapper > header.game-header .header-box .title-box .cz_logo {
  background: url('../asset/lottery_flag.png') no-repeat;
  width: 81px;
  height: 85px;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 5px;
  top: -15px;
}
#double-balls > .wrapper > header.game-header .header-box .title-box .cz_ssq {
  background-position: 0 0;
}
#double-balls > .wrapper > header.game-header .header-box .title-box h1 {
  font-size: 21px;
  line-height: 31px;
  padding-left: 3px;
  margin-right: 20px;
  float: left;
}
#double-balls > .wrapper > header.game-header .header-box .title-box h1 a,
#double-balls > .wrapper > header.game-header .header-box .title-box h1 a:hover {
  color: #000;
  text-decoration: none;
}
#double-balls > .wrapper > header.game-header .header-box .title-box .gameintro {
  padding-right: 10px;
  color: #717171;
}
#double-balls > .wrapper > header.game-header .header-box .menu-box {
  padding-left: 90px;
  line-height: 31px;
}
#double-balls > .wrapper > header.game-header .header-box .menu-box > .game-menu {
  float: left;
  border-right: 1px solid #dedede;
  list-style: none;
}
#double-balls > .wrapper > header.game-header .header-box .menu-box > .game-menu > li {
  float: left;
  width: 90px;
  border: 1px solid #dedede;
  border-bottom: 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 700px;
}
#double-balls > .wrapper > header.game-header .header-box .menu-box > .game-menu > li a {
  color: #000;
}
#double-balls > .wrapper > header.game-header .header-box .menu-box > .game-menu > li a:hover {
  color: #ba2636;
}
#double-balls > .wrapper > header.game-header .header-box .menu-box > .game-menu > li.active {
  background-color: #ba2636;
  border-color: #ba2636;
}
#double-balls > .wrapper > header.game-header .header-box .menu-box > .game-menu > li.active a {
  color: #fff;
}
#double-balls > .wrapper > .main .betting-box {
  width: 749px;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-num .title {
  padding-left: 42px;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-num .title h2 {
  float: left;
  text-align: center;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-num .title h2 span {
  color: #c4c4c4;
  font-size: 12px;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-num .title h2 strong {
  margin-right: 3px;
  font-size: 14px;
  font-weight: bold;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-num .title .red-title {
  width: 423px;
  margin-right: 41px;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-num .title .red-title strong {
  color: #ba2636;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-num .title .blue-title {
  width: 228px;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-num .title .blue-title strong {
  color: #1e50a2;
}
#double-balls > .wrapper > .main .betting-box #main-panels ul li {
  margin: 3px;
  float: left;
  background: url('../asset/balls.png') 0 0 no-repeat;
  width: 33px;
  height: 33px;
  display: block;
  text-align: center;
  line-height: 34px;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
}
#double-balls > .wrapper > .main .betting-box #main-panels ul li a {
  color: #000;
}
#double-balls > .wrapper > .main .betting-box #main-panels .red-ball-box {
  box-sizing: content-box;
  padding-left: 42px;
  width: 430px;
  padding-right: 34px;
  float: left;
}
#double-balls > .wrapper > .main .betting-box #main-panels .blue-ball-box {
  width: 234px;
  float: left;
}
#double-balls > .wrapper > .main .betting-box #main-panels .random-selection {
  clear: both;
  text-align: right;
  color: #717171;
  line-height: 22px;
  padding-top: 2px;
  padding-right: 10px;
}
#double-balls > .wrapper > .main .betting-box #main-panels .random-selection .random-redbtn {
  color: #ba2636;
}
#double-balls > .wrapper > .main .betting-box #main-panels .random-selection .random-bluebtn {
  color: #4260a4;
}
#double-balls > .wrapper > .main .betting-box #main-panels .random-selection a {
  font-size: 12px;
  cursor: pointer;
  height: 20px;
  width: 58px;
  line-height: 20px;
  border: 1px solid #c9c9c9;
  margin: 0 7px 0 4px;
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  background: url('../asset/background.png') repeat-x 0 0;
}
#double-balls > .wrapper > .main .betting-box #main-panels .random-selection a.clearing {
  background: none;
  line-height: 20px;
  color: #717171;
  display: inline;
  border: 0;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-info {
  padding: 0 5px;
  font-weight: bold;
  clear: both;
  float: none;
  text-align: center;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-info span {
  z-index: 10;
  background: #fff;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-info span .c_ba2636 {
  color: #ba2636;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-info span .c_4260a4 {
  color: #4260a4;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-info span > i {
  display: block;
  margin: -8px 15px 0 37px;
  border-top: 1px dotted #aeaeae;
  z-index: 9;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* navbar */
.navbar-default {
  border-bottom: 1px solid #e1e1e1;
  background: url('../asset/header.png') 0px 50px repeat-x #991429;
  border-radius: 0px;
  border: 0px;
  margin: 0px;
}
/* title */
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}
/* link */
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #D90A0A;
  background-color: #fff;
  background-image: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-image: linear-gradient(to bottom, #9C2B2B 0, #F60700 100%);
  color: #fff;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
/* mobile version */
.navbar-default .navbar-toggle {
  border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #CCC;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    background-image: linear-gradient(to bottom, #9C2B2B 0, #F60700 100%);
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
  }
}
