#double-balls * {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}
#double-balls a {
  list-style: none;
  text-decoration: none;
}
#double-balls > .wrapper {
  margin: 20px auto;
  width: 990px;
}
#double-balls > .wrapper > header.game-header {
  border: 1px solid #dedede;
  background: #fff;
  border-bottom: 3px solid #ba2626;
  position: relative;
}
#double-balls > .wrapper > header.game-header .header-box {
  background: url('../asset/background.png') repeat-x 0 -190px;
}
#double-balls > .wrapper > header.game-header .header-box .title-box {
  height: 36px;
  line-height: 31px;
  padding-left: 90px;
}
#double-balls > .wrapper > header.game-header .header-box .title-box .cz_logo {
  background: url('../asset/lottery_flag.png') no-repeat;
  width: 81px;
  height: 85px;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 5px;
  top: -15px;
}
#double-balls > .wrapper > header.game-header .header-box .title-box .cz_ssq {
  background-position: 0 0;
}
#double-balls > .wrapper > header.game-header .header-box .title-box h1 {
  font-size: 21px;
  line-height: 31px;
  padding-left: 3px;
  margin-right: 20px;
  float: left;
}
#double-balls > .wrapper > header.game-header .header-box .title-box h1 a,
#double-balls > .wrapper > header.game-header .header-box .title-box h1 a:hover {
  color: #000;
  text-decoration: none;
}
#double-balls > .wrapper > header.game-header .header-box .title-box .gameintro {
  padding-right: 10px;
  color: #717171;
}
#double-balls > .wrapper > header.game-header .header-box .menu-box {
  padding-left: 90px;
  line-height: 31px;
}
#double-balls > .wrapper > header.game-header .header-box .menu-box > .game-menu {
  float: left;
  border-right: 1px solid #dedede;
  list-style: none;
}
#double-balls > .wrapper > header.game-header .header-box .menu-box > .game-menu > li {
  float: left;
  width: 90px;
  border: 1px solid #dedede;
  border-bottom: 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 700px;
}
#double-balls > .wrapper > header.game-header .header-box .menu-box > .game-menu > li a {
  color: #000;
}
#double-balls > .wrapper > header.game-header .header-box .menu-box > .game-menu > li a:hover {
  color: #ba2636;
}
#double-balls > .wrapper > header.game-header .header-box .menu-box > .game-menu > li.active {
  background-color: #ba2636;
  border-color: #ba2636;
}
#double-balls > .wrapper > header.game-header .header-box .menu-box > .game-menu > li.active a {
  color: #fff;
}
#double-balls > .wrapper > .main {
  border: 1px solid #d3d3d3;
  background-color: #f6f6f6;
}
#double-balls > .wrapper > .main .betting-box {
  width: 749px;
  float: left;
  border-right: 1px solid #dedede;
  background: #fff;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-num .title {
  padding-left: 42px;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-num .title h2 {
  float: left;
  text-align: center;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-num .title h2 span {
  color: #c4c4c4;
  font-size: 12px;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-num .title h2 strong {
  margin-right: 3px;
  font-size: 14px;
  font-weight: bold;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-num .title .red-title {
  width: 423px;
  margin-right: 41px;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-num .title .red-title strong {
  color: #ba2636;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-num .title .blue-title {
  width: 228px;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-num .title .blue-title strong {
  color: #1e50a2;
}
#double-balls > .wrapper > .main .betting-box #main-panels ul li {
  margin: 3px;
  float: left;
  background: url('../asset/balls.png') 0 0 no-repeat;
  width: 33px;
  height: 33px;
  display: block;
  text-align: center;
  line-height: 34px;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
}
#double-balls > .wrapper > .main .betting-box #main-panels ul li a {
  color: #000;
}
#double-balls > .wrapper > .main .betting-box #main-panels ul li:hover {
  background-position: -35px 0;
}
#double-balls > .wrapper > .main .betting-box #main-panels ul li.selected a {
  color: #fff;
}
#double-balls > .wrapper > .main .betting-box #main-panels .red-ball-box {
  box-sizing: content-box;
  padding-left: 42px;
  width: 430px;
  padding-right: 34px;
  float: left;
}
#double-balls > .wrapper > .main .betting-box #main-panels .red-ball-box ul li.selected {
  background-position: -70px 0;
}
#double-balls > .wrapper > .main .betting-box #main-panels .blue-ball-box {
  width: 234px;
  float: left;
}
#double-balls > .wrapper > .main .betting-box #main-panels .blue-ball-box ul li.selected {
  background-position: -140px 0;
}
#double-balls > .wrapper > .main .betting-box #main-panels .blue-ball-box ul li:hover {
  background-position: -105px 0;
}
#double-balls > .wrapper > .main .betting-box #main-panels .random-selection {
  clear: both;
  text-align: right;
  color: #717171;
  line-height: 22px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 10px;
}
#double-balls > .wrapper > .main .betting-box #main-panels .random-selection .random-redbtn {
  color: #ba2636;
}
#double-balls > .wrapper > .main .betting-box #main-panels .random-selection .random-bluebtn {
  color: #4260a4;
}
#double-balls > .wrapper > .main .betting-box #main-panels .random-selection a {
  font-size: 12px;
  cursor: pointer;
  height: 20px;
  width: 58px;
  line-height: 20px;
  border: 1px solid #c9c9c9;
  margin: 0 7px 0 4px;
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  background: url('../asset/background.png') repeat-x 0 0;
}
#double-balls > .wrapper > .main .betting-box #main-panels .random-selection a.clearing {
  background: none;
  line-height: 20px;
  color: #717171;
  display: inline;
  border: 0;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-info {
  padding: 0 5px;
  font-weight: bold;
  clear: both;
  float: none;
  text-align: center;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-info span {
  z-index: 10;
  background: #fff;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-info span strong {
  padding: 0 5px;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-info span .c_ba2636 {
  color: #ba2636;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-info span .c_4260a4 {
  color: #4260a4;
}
#double-balls > .wrapper > .main .betting-box #main-panels .select-info span > i {
  display: block;
  margin: -8px 15px 0 37px;
  border-top: 1px dotted #aeaeae;
  z-index: 9;
}
#double-balls > .wrapper .betbtn-box {
  padding: 11px 0 6px 0;
  text-align: center;
}
#double-balls > .wrapper .betbtn-box .betbtn {
  width: 137px;
  height: 34px;
  display: inline-block;
  background: url('../asset/buttons.png') no-repeat 0 -75px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}
#double-balls > .wrapper .betbtn-box .prohibit {
  background-position: 0 -145px;
}
#double-balls > .wrapper .new-bet .selected-box {
  padding-left: 81px;
}
#double-balls > .wrapper .new-bet .selected-box #select-list-box {
  float: left;
  border: 1px solid #b6b6b6;
}
#double-balls > .wrapper .new-bet .selected-box #select-list-box dl {
  width: 479px;
  height: 135px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#double-balls > .wrapper .new-bet .selected-box #select-list-box dl dd:hover {
  background-color: #FBF8E5;
}
#double-balls > .wrapper .new-bet .selected-box #select-list-box dl dd {
  height: 26px;
  line-height: 26px;
  border-bottom: 1px dotted #aeaeae;
  padding: 0 5px;
  clear: both;
  width: 451px;
}
#double-balls > .wrapper .new-bet .selected-box #select-list-box dl dd .type {
  width: 50px;
}
#double-balls > .wrapper .new-bet .selected-box #select-list-box dl dd .nums {
  width: 260px;
}
#double-balls > .wrapper .new-bet .selected-box #select-list-box dl dd .nums strong {
  padding: 0 5px;
  font-family: Simsun;
}
#double-balls > .wrapper .new-bet .selected-box #select-list-box dl dd .edit {
  float: right;
}
#double-balls > .wrapper .new-bet .selected-box #select-list-box dl dd .edit a {
  margin: 0 3px;
  color: #717171;
}
#double-balls > .wrapper .new-bet .selected-box #select-list-box dl dd .sum {
  float: right;
  padding-right: 10px;
  text-align: right;
}
#double-balls > .wrapper .new-bet .selected-box .selected-btnbox {
  float: left;
  padding-left: 10px;
  position: relative;
}
#double-balls > .wrapper .new-bet .selected-box .selected-btnbox .selected-btn {
  height: 26px;
  width: 96px;
  line-height: 26px;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  display: block;
  background: url('../asset/background.png') repeat-x 0 -64px;
  text-align: center;
  margin-bottom: 8px;
  color: #000;
  cursor: pointer;
}
#double-balls > .wrapper .new-bet .selected-box .selected-btnbox .random-btn {
  height: 28px;
  margin-bottom: 10px;
  width: 98px;
  font-family: Tahoma;
  position: relative;
  overflow: hidden;
}
#double-balls > .wrapper .new-bet .selected-box .selected-btnbox .random-btn > .selected-btn {
  width: 46px;
  float: right;
}
#double-balls > .wrapper .new-bet .selected-box .selected-btnbox .random-btn label {
  float: left;
  line-height: 28px;
  text-align: center;
  border: 1px solid #b4b4b4;
  width: 42px;
  height: 26px;
}
#double-balls > .wrapper .new-bet .selected-box .selected-btnbox .random-btn label input {
  width: 100%;
  line-height: 18px;
  font-size: 12px;
  padding: 3px 0;
  margin: 0;
  display: block;
  text-align: center;
  border: 0;
}
#double-balls > .wrapper .new-bet .bet-result {
  text-align: center;
  padding: 3px 0 11px;
  font-size: 12px;
  height: 27px;
  line-height: 27px;
}
#double-balls > .wrapper .new-bet .bet-result .holder-wrap-left {
  display: inline-block;
  width: 135px;
  text-align: right;
}
#double-balls > .wrapper .new-bet .bet-result .holder-wrap-left .bet-num-count {
  color: #ba2636;
  margin: 0 3px;
}
#double-balls > .wrapper .new-bet .bet-result .time-num-wrap {
  text-align: center;
  line-height: 27px;
}
#double-balls > .wrapper .new-bet .bet-result .add-substract {
  height: 20px;
  width: 83px;
  display: inline-block;
  border: 1px solid #abadb3;
  position: relative;
  top: 6px;
  margin: 0 3px;
}
#double-balls > .wrapper .new-bet .bet-result .add-substract .substract {
  float: left;
  background: url('../asset/operation.png') no-repeat -72px 0px;
  border-right: 1px solid #abadb3;
}
#double-balls > .wrapper .new-bet .bet-result .add-substract .add {
  float: right;
  background: url('../asset/operation.png') no-repeat -119px 0px;
  border-left: 1px solid #abadb3;
}
#double-balls > .wrapper .new-bet .bet-result .add-substract a {
  display: inline-block;
  width: 22px;
  height: 22px;
  color: #333;
  outline: 0;
}
#double-balls > .wrapper .new-bet .bet-result .add-substract input {
  width: 37px;
  height: 20px;
  line-height: 20px;
  float: left;
  padding: 0;
  border: 0px;
  text-align: center;
}
#double-balls > .wrapper .new-bet .bet-result .holder-wrap-right {
  width: 135px;
  display: inline-block;
  text-align: left;
}
#double-balls > .wrapper .new-bet .betbtn-box {
  padding: 10 0 15px;
}
#double-balls > .wrapper .new-bet .betbtn-box > .bet-btns {
  height: 43px;
  text-align: center;
  line-height: 43px;
}
#double-balls > .wrapper .new-bet .betbtn-box > .bet-btns #normal-btn-box {
  line-height: 43px;
}
#double-balls > .wrapper .new-bet .betbtn-box > .bet-btns #normal-btn-box .betting-btn {
  background: url('../asset/buttons.png') no-repeat 0 -180px;
  width: 146px;
  height: 43px;
  display: inline-block;
}
#double-balls > .wrapper .aside-box {
  width: 237px;
  float: right;
  padding: 10px 0 0 0;
  line-height: 21px;
  color: #000;
}
#double-balls > .wrapper .aside-box .total-pool-box {
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e3e3;
  color: #717171;
}
#double-balls > .wrapper .aside-box .total-pool-box h3 {
  font-size: 13px;
  color: #000;
  padding: 5px;
}
#double-balls > .wrapper .aside-box .total-pool-box .total-pool {
  color: #ba2636;
  font-weight: 700;
  line-height: 30px;
  font-size: 14px;
}
#double-balls > .wrapper .aside-box .total-pool-box .total-pool strong {
  font-size: 22px;
  line-height: 30px;
  padding: 5px;
}
#double-balls > .wrapper .aside-box .total-pool-box p {
  padding: 5px;
}
#double-balls > .wrapper .aside-box .draw-notice {
  padding: 10px;
}
#double-balls > .wrapper .aside-box .draw-notice h3 {
  font-size: 13px;
  font-weight: 700;
  color: #333;
  padding-bottom: 3px;
}
#double-balls > .wrapper .aside-box .draw-notice p {
  font-size: 12px;
}
#double-balls > .wrapper .aside-box .draw-notice .current-award {
  padding: 5px 0 10px;
  margin-right: -15px;
}
#double-balls > .wrapper .aside-box .draw-notice .current-award .small-red-ball,
#double-balls > .wrapper .aside-box .draw-notice .current-award .small-blue-ball {
  display: inline-block;
  height: 21px;
  width: 20px;
  color: #fff;
  font: 700 14px/21px;
  text-align: center;
  background: url('../asset/balls.png') no-repeat 0 -38px;
  margin-right: 3px;
}
#double-balls > .wrapper .aside-box .draw-notice .current-award .small-blue-ball {
  background-position: -23px -38px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.c_ba2636 {
  color: #ba2636;
}
.c_4260a4 {
  color: #4260a4;
}
/* navbar */
.navbar-default {
  border-bottom: 1px solid #e1e1e1;
  background: url('../asset/header.png') 0px 50px repeat-x #991429;
  border-radius: 0px;
  border: 0px;
  margin: 0px;
}
/* title */
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}
/* link */
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #D90A0A;
  background-color: #fff;
  background-image: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-image: linear-gradient(to bottom, #9C2B2B 0, #F60700 100%);
  color: #fff;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
/* mobile version */
.navbar-default .navbar-toggle {
  border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #CCC;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    background-image: linear-gradient(to bottom, #9C2B2B 0, #F60700 100%);
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
  }
}
