#order-five
  .wrapper
    .main
      .ball-left
        .cz-title
          .cz-t-imgs
          .f-left
            .cz-intro
              h1
                a(href="#/order-five") 排列5
                &nbsp;&nbsp
                span.c_ba2636
                  每注2元，最高奖10万
            p.timetips
              每日 20:30开奖
              br
              span#bet-time 代购截止：2016-05-18 19:50 &nbsp;&nbsp;
              //span#group-time 开始：2016-05-17 20:00 &nbsp;&nbsp;合买截止：2016-05-18 19:50
          .f-right
            b
              第&nbsp;
              span.c_ba2636#bet-period 16132
              &nbsp;期
            br
            span 
              span.end-time#bet-retime
                | 离截止时间还有：
                em 00
                |  天
                em 23
                |  小时
                em 07
                |  分
                em 59
                |  秒
        ul.all-tabs
          li.active
            a 选号投注
        form#select-form
          #buy-con
            .betting-box
              #player-con
                #zx-con
                  .way-tags
                    .f-left#zx-tab2
                      input(name="zx-radio" checked="checked" id="zx-fs" type="radio")
                      label(for="zx-fs") 复式
                      input(name="zx-radio" id="zx-fs-paste" type="radio")
                      label(for="zx-fs-paste") 粘贴
                  #zx-fs-con

