#quick-three
  .wrapper
    header.game-header.clearfix
      .game-logo
        h1.kuai3
          a 快三
        p.game-intro 10分钟一期，返奖率59%
      #timing
        p.bet-period
          | 距
          em.c_ba2636 10000
          | 投注截止还有：
        p.timing-box
          span 10:32:12
        p.intro
          今天已经销售 80 期，还剩 
          em.c_ba2636 0
          &nbsp;期
    .main
      .menu-box
        ul.game-menu
          li
            a 选号投注


