#quick-three
  .wrapper
    header.game-header.clearfix
      .game-logo
        h1.kuai3
          a 快三
        p.game-intro 10分钟一期，返奖率59%
      #timing
        p.bet-period
          | 距
          em.c_ba2636 10000
          | 投注截止还有：
        p.timing-box
          span 10:32:12
        p.intro
          今天已经销售 80 期，还剩 
          em.c_ba2636 0
          &nbsp;期
    .main
      .menu-box
        ul.game-menu
          li.active
            a 选号投注
      section.betting-box
        #main-panels
          .bet-box
            p.game-intro
              label
                input(type="radio" checked="checked") 
                | &nbsp;标准投注
              label
                input(type="radio") 
                |  &nbsp;拖胆投注
            .normal
              .title
                h3
                  | 玩法提示
                  span 
                    | 从1～6中任选3个或多个号码，所选号码与开奖号码的3个号码相同即中奖，单注奖金
                    em 40
                    | 元
              .select-num
                ul.balls-box
                  li(ng-repeat="ball in quickThree.balls")
                    em {{ball}}



