doctype html
html(lang="en" ng-app="LotteryApp")
  head
    title= pageTitle
    link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="css/main.css")
  body
    div(ng-include="'components/header/header'" ng-controller="HeadCtrl as head")
    div(ng-view)
  script(type="text/javascript" src="bower_components/angular/angular.min.js")
  script(type="text/javascript" src="bower_components/angular-route/angular-route.min.js")
  script(type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js")
  script(type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js")
  script(type="text/javascript" src="bower_components/angular-touch/angular-touch.min.js")
  script(type="text/javascript" src="bower_components/jquery/dist/jquery.min.js")
  script(type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js")
  script(type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
  script(type="text/javascript" src="bower_components/underscore/underscore-min.js")

  script(type="text/javascript" src="js/app.js")
  script(type="text/javascript" src="js/utils.js")
  script(type="text/javascript" src="js/filter.js")
  script(type="text/javascript" src="components/main/main.controller.js")
  script(type="text/javascript" src="components/header/header.controller.js")
  script(type="text/javascript" src="components/double-balls/double-balls.controller.js")
  script(type="text/javascript" src="components/authenticate/authenticate.controller.js")
  script(type="text/javascript" src="components/authenticate/authenticate.service.js")
  script(type="text/javascript" src="components/quick-three/quick-three.controller.js")
  script(type="text/javascript" src="components/big-fun/big-fun.controller.js")
